* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */
html {
    scroll-behavior: smooth;
}

body {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/pexels-nikita-anders-11538211.jpg) no-repeat center center/cover fixed;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;

}


a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}


.container {
    width: 100%;
    margin: auto;
    max-width: 100%;
    min-height: 500px;
    height: 100vh;
}

img {
    width: 10%;
}

header.header#header,
.nav-main, 
.menu-btn#menu-btn,
section.section,
footer,
header.header#header a#logo,
.nav-menu li {
    /* border: solid 1px white; */
}

header.header#header,
.nav-main,
section.section,
footer,
.nav-menu li,
section.section h1,
section.section p {
    padding: 20px;
}

section.section h1 {
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav-main,
section.section,
section.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
}


section.section {
    height: 100%;
}

header.header#header a#logo,
section.section p, 
.nav-menu li a {
    font-size: 1.7rem;
} 


/* HEADER */


header.header#header {
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header.header#header a#logo {
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    z-index: 1;
}

/* BARS MENU and CLOSE MENU*/
.menu-btn#menu-btn {
    position: absolute;
    position: fixed;
    right: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bars-btn, 
#close-btn {
    cursor: pointer;
    z-index: 1;
}

#close-btn {
    position: absolute;
    right: 2%;
    display: none;
}



/* NAVIGATION */
.nav-main {
    margin: auto;
    /* background-color: #424341; */
    background: linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84));
    position: absolute;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    transform: translateX(0px);
    transition: transform .3s ease-in-out; 
    
}

.nav-main.show {
    transform:  translateX(1000px);
    transition: transform .3s ease-in-out;   
} 

.nav-menu li {
    margin: 50px 0 50px 0;
}


/* FOOTER */
footer.footer#footer,
.social {
    margin: auto;
    justify-content: center;
    text-align: center;
}


footer.footer#footer {
    height: 10%;
}

/* SOCIAL */
section.social,
section.social .links-social,
section.social a {
    /* border: solid 1px white; */
}

section.social .links-social {
    display: flex;
}

section.social .links-social a {
    margin: 10px;
}

section.social a {
      
}

/* NAV RIGHT */


/* SHOWCASE */
section.section h1 {
    font-size: 3rem;
}
/* ABOUT*/
/* STUDIES*/
/* PROJECTS */
/* CONTACT */

/* NAV MEDIA QUERIES */




